@using Web.Areas.Management.Models
@model SherbimeStudentoreKerkesatViewModel
@{
    ViewData["Title"] = "Kerkesat e perfunduara";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

@*<div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h1 class="m-0 text-dark" style="text-align:center">Nuk kemi kerkesa te perfunduara!</h1>

                </div>
            </div>
        </div>
    </div>*@

@if (Model.KerkesatEPerfunduara.Count > 0)
{


    <div class="panel-header panel-header-lg">
        <canvas id="bigDashboardChart"></canvas>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Kerkesat</h4>
                        <div class="dropdown">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons loader_gear"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-full-width table-responsive">
                            @{ var i = 0;}
                            @foreach (var item in Model.KerkesatEPerfunduara)
                            {
                                if (item.Ankes == false && item.IsAnonim == false)
                                {
                                    <h3> @( i += 1) </h3>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">Tipi i Kerkeses : @item.LlojiKerkeses</h5>
                                        </div>
                                        <div class="card-body">
                                            <label> Pershkrimi i kerkeses : </label><br />
                                            <p class="card-text">
                                                @Html.Raw(item.PershkrimiIkerkeses)
                                            </p>
                                            <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                            <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Ankesat</h4>
                        <div class="dropdown">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons loader_gear"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-full-width table-responsive">
                            @{ var j = 0;}
                            @foreach (var item in Model.KerkesatEPerfunduara)
                            {
                                if (item.Ankes == true && item.IsAnonim == false)
                                {
                                    <h3> @( j += 1) </h3>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">Tipi Ankeses : @item.LlojiKerkeses</h5>
                                        </div>
                                        <div class="card-body">
                                            <label> Pershkrimi i Ankeses : </label><br />
                                            <p class="card-text">
                                                @Html.Raw(item.PershkrimiIkerkeses)
                                            </p>
                                            <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                            <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Ankesat Anonime</h4>
                        <div class="dropdown">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons loader_gear"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-full-width table-responsive">
                            @{ var d = 0;}
                            @foreach (var item in Model.KerkesatEPerfunduara)
                            {
                                if (item.Ankes == true && item.IsAnonim == true)
                                {
                                    <h3> @( d += 1) </h3>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-0">Tipi Ankeses Anonime : @item.LlojiKerkeses</h5>
                                        </div>
                                        <div class="card-body">
                                            <label> Pershkrimi i Ankeses Anonime :</label><br />
                                            <p class="card-text">
                                                @Html.Raw(item.PershkrimiIkerkeses)
                                            </p>
                                            <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                            <h5 style="text-align:left">Eshte anonime : Po</h5>
                                            <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Ankesat</h4>
                        <div class="dropdown">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons loader_gear"></i>
                            </button>
                        </div>
                    </div>
                    @{ var j = 0;}
                    @foreach (var item in Model.KerkesatEPerfunduara)
                    {
                        if (item.Ankes == true && item.IsAnonim == false)
                        {
                            <h3> @( j += 1) </h3>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="m-0">Tipi Ankeses : @item.LlojiKerkeses</h5>
                                </div>
                                <div class="card-body">
                                    <label> Pershkrimi i Ankeses : </label><br />
                                    <p class="card-text">
                                        @Html.Raw(item.PershkrimiIkerkeses)
                                    </p>
                                    <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                    <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                    <a href="/Management/SherbimeStudentore/Details/@item.KerkesaAnkesaId" style="float:right" class="btn btn-primary">Hap detajet</a>
                                </div>
                            </div>
                        }
                    }
                    <div class="card-footer">
                        <div class="stats">
                            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Ankesat Anonime</h4>
                        <div class="dropdown">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons loader_gear"></i>
                            </button>
                        </div>
                    </div>
                    @{ var d = 0;}
                    @foreach (var item in Model.KerkesatEPerfunduara)
                    {
                        if (item.Ankes == true && item.IsAnonim == true)
                        {
                            <h3> @( d += 1) </h3>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="m-0">Tipi Ankeses Anonime : @item.LlojiKerkeses</h5>
                                </div>
                                <div class="card-body">
                                    <label> Pershkrimi i Ankeses Anonime :</label><br />
                                    <p class="card-text">
                                        @Html.Raw(item.PershkrimiIkerkeses)
                                    </p>
                                    <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                    <h5 style="text-align:left">Eshte anonime : Po</h5>
                                    <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                    <a href="/Management/SherbimeStudentore/Details/@item.KerkesaAnkesaId" style="float:right" class="btn btn-primary">Hap detajet</a>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>*@
        </div>
        @*<div class="row">
                <div class="col-md-4">
                    <div class="card  card-tasks">
                        <div class="card-header ">
                            <br />
                        </div>
                        <div class="card-body ">
                            <div class="table-full-width table-responsive">
                                @{ var i = 0;}
                                @foreach (var item in Model.sherbimeStudentoreKerkesaList)
                                {
                                    if (item.Ankes == false && item.IsAnonim == false)
                                    {
                                        <h3> @( i += 1) </h3>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="m-0">Tipi i Kerkeses : @item.LlojiKerkeses</h5>
                                            </div>
                                            <div class="card-body">
                                                <label> Pershkrimi i kerkeses : </label><br />
                                                <p class="card-text">
                                                    @Html.Raw(item.PershkrimiIkerkeses)
                                                </p>
                                                <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                                <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                                <a href="/Management/SherbimeStudentore/Details/@item.KerkesaAnkesaId" style="float:right" class="btn btn-primary">Hap detajet</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <br />
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                @{ var j = 0;}
                                @foreach (var item in Model.sherbimeStudentoreKerkesaList)
                                {
                                    if (item.Ankes == true && item.IsAnonim == false)
                                    {
                                        <h3> @( j += 1) </h3>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="m-0">Tipi Ankeses : @item.LlojiKerkeses</h5>
                                            </div>
                                            <div class="card-body">
                                                <label> Pershkrimi i Ankeses : </label><br />
                                                <p class="card-text">
                                                    @Html.Raw(item.PershkrimiIkerkeses)
                                                </p>
                                                <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                                <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                                <a href="/Management/SherbimeStudentore/Details/@item.KerkesaAnkesaId" style="float:right" class="btn btn-primary">Hap detajet</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <br />
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                @{ var d = 0;}
                                @foreach (var item in Model.sherbimeStudentoreKerkesaList)
                                {
                                    if (item.Ankes == true && item.IsAnonim == true)
                                    {
                                        <h3> @( d += 1) </h3>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="m-0">Tipi Ankeses Anonime : @item.LlojiKerkeses</h5>
                                            </div>
                                            <div class="card-body">
                                                <label> Pershkrimi i Ankeses Anonime :</label><br />
                                                <p class="card-text">
                                                    @Html.Raw(item.PershkrimiIkerkeses)
                                                </p>
                                                <h5 style="text-align:left">Departamenti : @item.Departamenti</h5>
                                                <h5 style="text-align:left">Eshte anonime : Po</h5>
                                                <h5 style="text-align:left">Eshte paraqitur me : @item.InsertDate</h5>
                                                <a href="/Management/SherbimeStudentore/Details/@item.KerkesaAnkesaId" style="float:right" class="btn btn-primary">Hap detajet</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-tasks">
                <div class="col-md-12">
                    <div class="card-header ">
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="card-body ">
                        <div class="table-full-width table-responsive">
                            <h4 class="m-0 text-dark" style="text-align:center">Nuk kemi kerkesa te perfunduara!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



